*.py[cod]
*.so
AAL.py
wiki.db*
MPEI_ASK
AAF
Bindings
Decompositions
Dev_Project
CppUnitLite
Tables
*.old

curveorder.log
msieve.*

*.pdf
*.doc
*.DOC
*.PDF

notebooks

assets

.python-version
.DS_Store
control.sh
