/*

AAL styles. @ Alexander Vinnikov <al.vin@bk.ru>

*/
body {
  padding: 20px;
}
label {
	cursor: pointer;
}
.login {
  margin-left: auto;
  margin-right: auto;
  float:none;
  border: 1px solid #ccc;
  padding:10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.sections li {
  border-top: 1px solid #DDD;
  list-style: none;
}
#editor { 
  position: relative;
  height: 320px;
  font-size: 14px;
  border: 1px solid #CCC;
  margin-bottom:10px;
}

#console {
  margin-top: 10px;
  height:350px;
  position:relative;
}
#console pre {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: 0px;
  overflow: auto;
}
.jqconsole {
  padding: 10px;
}
.jqconsole-cursor {
  background-color: #999;
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: whiteSmoke;
}
.jqconsole-prompt {
  color: #0d0;
}
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}
.jqconsole-input {
  color: #dd0;
}
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
.brace {
  color: #00FFFF;
}
.paran {
  color: #FF00FF;
}
.bracket {
  color: #FFFF00;
}
.jqconsole-composition {
  background-color: red;
}
.indicator {
  width:200px;
  float:right;
}
.tooltip-inner { 
  max-width: 350px!important;
  overflow:hidden; 
}
.adminModal {
  width: 660px!important;
  margin-left: -330px!important;
}
.mmLogo {
  float: left;
  clear: left;
  margin-right: 6px;
}
.mpeiLogo {
  clear: both;
  margin: 16px auto;
  display: block;
  width: 200px;
}
.filterHistory {
  width:300px;
  padding: 8px 0;
}
.done {
  margin-bottom:10px;
}
.worksheet-editor {
  height:400px!important;
  margin-top:10px
}
.worksheet-console {
  height:450px!important;
}
.newline:after {
    content: "\A";
}

/*Admin styles*/
.userbox {margin-bottom:10px;}
.user_add {text-decoration:none;text-align: center;height:70px}
.user_add span {font-weight:bold;color:#ccc;font-size:100px;line-height:70px;font-family: Arial;}
.course_add {text-decoration:none;text-align: center;height:100px}
.course_add span {font-weight:bold;color:#ccc;font-size:100px;line-height:100px;font-family: Arial;}
/**/
