/* Your app styles here */

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.navbar-scroller {
  display: flex!important;
  overflow-x: scroll!important;
  line-height: 30px!important;
}

.md .navbar-scroller > div {
  position: relative;
  top: 4px;
}

.navbar-scroller > * {
  overflow: visible!important;
  min-width: unset!important;
  margin:5px;
}

#results {
  overflow: scroll;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: 0px;
  padding:2px;
}

.mmLogo {
  width:100%;
}
.about {
  margin-top:0!important;
}
.authors dt {
  font-weight: bold;
}
.poweredBy {
  width:30%;
  margin:0 10px;
}
.attribution {
  display: block;
  text-align: center;
}
.mpeiLogo {
    clear: both;
    margin: 16px auto;
    display: block;
    width: 200px;
}